.h-m-marquee {
  background-image: url("/images/hero.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white;
  text-transform: uppercase;


  h1 {
    font-size: 150px;
    font-weight: bold;
    @include fontDINBlack();
    margin: -10px 0 80px 0;
    line-height: 150px;
  }

  time, .h-label {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 3px;
  }

  .h-label {
      background-color: #303131;
      padding: 15px 35px;
  }

  // Svg
  #logo {
    position: absolute;
    margin: 0 auto;
    top: 70px; left: 0; right: 0;
    display: block;
    width: 270px; height: 65px;
  }

  .h-h-table {
    height: 100vh;
  }

  // Svg
  #arrow-down {
    position: absolute;
    margin: 0 auto;
    bottom: 66px; left: 0; right: 0;
    display: block;
    width: 45px; height: 25px;
    fill: white;
    cursor: pointer;
  }

  // Mobile
  @include breakpoint('phone') {

    #logo {
      top: 5%;
    }

    #arrow-down {
      bottom: 5%;
    }

    h1 {
      font-size: 75px;
      margin: -10px 0 40px 0;
      line-height: 75px;
    }

    .h-label {
      width: 100%;
      display: block;
    }
  }
}
