
// Display content as table
.h-h-table {
  width: 100%;
  display: table;
  text-align: center;

  > .h-h-cell {
    display: table-cell;
    vertical-align: middle;

  }

  .h-is-top {
    vertical-align: top;
    padding-top: 50px;
  }

  .h-is-bottom {
    vertical-align: bottom;
    padding-bottom: 40px;
  }

}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.h-h-divider {
  width: 624px;
  margin: 0 auto;
  display: block;
  height: 1px;
  background-color: #b2b2b2;

  @include breakpoint('phone') {
    width: 80%;
  }
}
